<form class="relative bg-white rounded-lg shadow dark:bg-gray-700" [formGroup]="formGroupContact">
  <!-- Modal header -->
  <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
      {{ title }}
    </h3>
    <button type="button"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
      (click)="cancel()">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-6 space-y-6">
    <div class="grid grid-cols-6 gap-6">
      <div class="col-span-6 sm:col-span-3">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome*</label>
        <input type="text" name="name" id="name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="John Doe" formControlName="name">
        <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="name.touched && name.hasError('required')">* O
          nome
          é requerido.</p>
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail*</label>
        <input type="email" name="email" id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="exemplo@exemplo.com" formControlName="email">
        <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="email.touched && email.hasError('required')">* O
          e-mail
          é requerido.</p>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500" *ngIf="email.touched && email.hasError('email')">* O
          e-mail
          não é valido.</p>
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefone</label>
        <input type="text" name="phone" id="phone" mask="(00) 0000-0000"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="(11) 1234-5678" formControlName="phone">
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="cellphone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Celular*</label>
        <input type="text" name="cellphone" id="cellphone" mask="(00) 00000-0000"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="(11) 12345-6789" formControlName="cellphone">
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
          *ngIf="cellphone.touched && cellphone.hasError('required')">* O celular é requerido.</p>
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cidade</label>
        <input type="text" name="city" id="city"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Itu" formControlName="city">
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo*</label>
        <select id="countries"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          formControlName="gender">
          <option selected disabled>Selecione o seu sexo</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
        </select>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
          *ngIf="gender.touched && (gender.hasError('minlength') || gender.hasError('maxlength'))">* O sexo
          é requerido.</p>
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de
          nascimento</label>
        <input type="date" name="birthday" id="birthday"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Itu" formControlName="birthday">
      </div>
      <div class="col-span-6 sm:col-span-3">
        <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de contato*</label>
        <div class="flex p-2.5">
          <div class="flex items-center me-4">
            <input id="inline-radio" type="radio" value="Pessoal" name="inline-radio-group" formControlName="category"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="inline-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Pessoal</label>
          </div>
          <div class="flex items-center me-4">
            <input id="inline-2-radio" type="radio" value="Profissional" name="inline-radio-group" formControlName="category"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="inline-2-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Profissional</label>
          </div>
          <p class="mt-2 text-sm text-red-600 dark:text-red-500"
          *ngIf="category.touched && category.hasError('required')">* O tipo de contato
          é requerido.</p>
        </div>
      </div>
      <div class="col-span-6 sm:col-span-6">
        <div class="flex items-center">
          <input id="isFavorite" type="checkbox"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            formControlName="isFavorite">
          <label for="isFavorite" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Favorito</label>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal footer -->
  <div
    class="flex items-center p-6 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      [ngClass]="{'disabled bg-red-500 hover:bg-red-500' : !formGroupContact.valid}" (click)="onSubmit()"
      [disabled]="!formGroupContact.valid">Salvar</button>
  </div>
</form>
