<div class="md:container md:mx-auto px-4" *ngIf="contact">

  <div class="flex flex-col gap-6">
    <div class="flex items-center">
      <button type="button"
        class="text-center inline-flex items-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
        (click)="goBack()">
        <svg class="w-6 h-6 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="currentColor">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m15 19-7-7 7-7" />
        </svg>
        Voltar
      </button>
    </div>
    <h1 class="text-3xl font-inter text-center">{{ contact.name }}</h1>
    <div class="flex items-center justify-center">
      <img class="w-64 h-64 rounded-full" src="./assets/profilePicExample.jpg" alt="Jese image">
    </div>
    <div class="flex items-center justify-center">
      <mat-icon class="scale-[2]" fontIcon="{{ contact.category === 'Pessoal' ? 'group' : 'work' }}" [ngClass]="{
              'text-blue-400': contact.category === 'Pessoal',
              'text-amber-600': contact.category === 'Profissional'
              }"></mat-icon>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Informações</h2>
      <ul class="max-w-md space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
        <li>
          <b>Nome:</b> {{ contact.name }}
        </li>
        <li>
          <b>Email:</b> {{ contact.email }}
        </li>
        <li>
          <b>Telefone:</b> {{ contact.phone }}
        </li>
        <li>
          <b>Celular:</b> {{ contact.cellphone }}
        </li>
        <li>
          <b>Cidade:</b> {{ contact.city }}
        </li>
        <li>
          <b>Sexo:</b> {{ contact.gender }}
        </li>
        <li>
          <b>Data de nascimento:</b> {{ contact.birthday | date: 'dd/MM/yyyy' }}
        </li>
        <li><b>Tipo de contato:</b> {{ contact.category }}</li>
        <li class="flex items-center gap-3">
          <b>Favorito:</b>
          <div [ngClass]="{
              'bg-green-500': contact.isFavorite === true,
              'bg-red-500': contact.isFavorite === false
            }" class="h-2.5 w-2.5 rounded-full"></div> {{ contact.isFavorite ? 'Sim' : 'Não' }}
        </li>
      </ul>
    </div>
  </div>
</div>
